<div class="settings-widget account-settings">
   
    <div class="settings-menu">
        <h3>ACCOUNT SETTINGS</h3>
        <ul>
            <li class="nav-item ">
                <a routerLink="/profile" routerLinkActive="/profile" class="nav-link">
                    <i class="fa-solid fa-gears fa-2xl" style="color: #74C0FC;"></i> Edit Profile
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/pwd" routerLinkActive="/pwd" class="nav-link">
                    <i class="fa-solid fa-lock fa-2xl" style="color: #74C0FC;"></i> Security
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Socialprofil" class="nav-link">
                    <i class="fa-solid fa-square-share-nodes fa-2xl" style="color: #74C0FC;"></i> Social Profiles
                </a>
            </li>
         
         
    
            <li class="nav-item">
                <a href="login.html" class="nav-link">
                    <i class="fa-sharp fa-solid fa-left-from-bracket fa-2xl" style="color: #74C0FC;"></i> Sign Out
                </a>
            </li>
        </ul>
   
    </div>
</div>